%h1 Create A New Homeschool Log Account

= form_tag "/auth/identity/register" do
  -if @identity && @identity.errors.any?
    .error_messages
    %ul
      @identity.errors.full_messages.each do |msg|
      %li= msg
  #field
    = label_tag :FirstName
    %br
    = text_field_tag :name, @identity.try(:name)
  #field
    = label_tag :email
    %br
    = text_field_tag :email, @identity.try(:email)
  #field
    = label_tag :password 
    %br
    = password_field_tag :password 
  #field
    = label_tag :password_confirmation
    %br
    = password_field_tag :password_confirmation
  = submit_tag "Register"
